3 курс/Создание конструкторской документации с использованием компьютерных технологий/*.pdf
3 курс/Создание конструкторской документации с использованием компьютерных технологий/*.jpeg
3 курс\Технологии кодирования и распределения медиаконтента\Курсач\1
3 курс\Технологии кодирования и распределения медиаконтента\Курсач\2
*.aup3