3 курс/Создание конструкторской документации с использованием компьютерных технологий/*.pdf
3 курс/Создание конструкторской документации с использованием компьютерных технологий/*.jpeg
3 курс\Технологии кодирования и распределения медиаконтента\Курсач\1.docx
3 курс\Технологии кодирования и распределения медиаконтента\Курсач\2.docx
*.aup3